@using Statiq.Common
@{
    var lead = Document.GetString("Lead");
    var published = Document.GetDateTime("Published");
    var tags = Document.GetList<string>("Tags");
}

<section id="banner">
  <div class="inner">
    <h2>@Document.GetString("Title")</h2>
    @if(!string.IsNullOrWhiteSpace(lead))
    {
        <p>@lead</p>
    }                  
    @if (published != default(DateTime))
    {
        <p><em>Published on @published.ToLongDateString()</em></p>
    }
    @if (tags != null)
    {
        @foreach (string tag in tags.OrderBy(x => x))
        {
            <a role="button" href="/tags/@(tag.ToLower().Replace(" ", "-").Replace(".", "-"))" class="button small">@tag</a>
        } 
    } 
  </div>

</section>
